<!--<html>
<body>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <ul id=messages></ul>
    <form>
        <select id="status">
            <option value="0">I'm OK</option>
            <option value="1">I need help</option>
            <option value="2">Emergency</option>
        </select>
        <input id=message>
        <input type="submit" id=send value=Send>
    </form>
    <script>
        var c=new WebSocket('ws://localhost:3000/chat/sock');
        c.onopen = function(){
          c.onmessage = function(response){
            console.log(response.data);
            var newMessage = $('<li>').text(response.data);
            $('#messages').append(newMessage);
            $('#message').val('');
          };

            $('#status').on('change', function() {
                c.send('{"username": "abc", "status": ' + $('#status').val() + '}');
                return false;
            });

        }
    </script>
</body>
</html> -->

Test
