<div id="list-people" class="col-xs-6">
    <div><table data-height="400" data-row-style="rowStyle">
        <tr>
            <td class="col-md-2"><b id="me-name">{{ .Name }}</b><b id="me-status">&#9679;</b></td>
            <td>
                <select id="status">
                    <option value="0">I'm OK</option>
                    <option value="1">I need help</option>
                    <option value="2">Emergency</option>
                </select>
            </td>
        </tr>
    </table></div>
    <br>
    <ul id="list-online" class="list-group">
        <li>Online Users</li>
    </ul>
    <br>
    <ul id="list-offline" class="list-group">
        <li>Offline Users</li>
    </ul>
</div>
<div id="wall-people" class="col-xs-6">
    <ul id="wall">

    </ul>
    <input type="text" name="wall-message" class="form-control" placeholder="Post on wall" autofocus>
    <button type="button" id="post-wall">Post</button>
</div>
<script type="text/javascript" src="/js/people.js"></script>