<div id="list-people" class="col-xs-6">
    <div><table data-height="400" data-row-style="rowStyle">
        <tr>
            <td class="col-md-2"><b id="me-name">{{ .Name }}</b><b id="me-status">&#9679;</b></td>
            <td>
                <select id="status">
                    <option value="0">I'm OK</option>
                    <option value="1">I need help</option>
                    <option value="2">Emergency</option>
                </select>
            </td>
        </tr>
    </table></div>
    <br>
    <ul id="list-online" class="list-group">
        <li>Online Users</li>
    </ul>
    <br>
    <ul id="list-offline" class="list-group">
        <li>Offline Users</li>
    </ul>
</div>
<div id="wall-people" class="col-xs-6">

    <!--<div class="row-fluid">-->
        <!--<div class="span12">-->
            <!--<input type="text" name="wall-message" class="form-control inline" placeholder="Post on wall" autofocus>-->
            <!--<button type="button" class="btn btn-primary btn-block inline" id="post-wall" btn-block>Post</button>-->
        <!--</div>-->
    <!--</div>-->

    <ul class="list-group" id="wall">
        <li class="list-group-item">
            <input type="text" name="wall-message" class="form-control" placeholder="Post on wall" autofocus>
            <button type="button" class="btn btn-primary btn-block" id="post-wall">Post</button>
        </li>
    </ul>

    <!--<form class="col-md-6 col-md-offset-6" role="form" action="/message" method="POST">-->
        <!--<input type="text" name="message" class="form-control input-lg" placeholder="Write Message">-->
        <!--<br/>-->
        <!--<button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>-->
    <!--</form>-->
</div>
<script type="text/javascript" src="/js/people.js"></script>