<h1>Welcome! <b>{{ . }}</b></h1>
<p><font color="green">Green</font> status stands for "I am OK, I do not need help."</p>
<p><font color="yellow">Yellow</font> status stands for "I need help, but this is not a life threatening emergency."</p>
<p><font color="red">Red</font> status stands for "I need help now, as this is a life threatening emergency!</p>